Read

In [0]:
import csv

with open('Workbook2.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    for line in csv_reader:
      print(line)

['First Name', 'Major1', 'Major2', 'Birthday Month', 'Nationality']
['Joon', 'Information Systems', '', 'February', 'South Korea']
['Haley', 'Finance', 'Business Analytics', 'July', 'South Korea']
['Vicky', 'Finance', '', 'September', 'China']
['Kevin', 'Finance', '', 'September', 'Indonesia']
['Yuxin', 'Accounting', 'Economics consulting', 'July', 'China']
['Zhijian', 'Accounting', 'Finance', 'August', 'China']
['Colin', 'Information Systems', 'Supply Chain Management', 'November', 'Malaysia']
['Charlie', 'Economic Consulting', '', 'March', 'China']
['Soonhyuk', 'Accounting', '', 'April', 'South Korea']
['Riya', 'Finance', 'Math', 'March', 'India']
['Xinyi', 'Management', '', 'October', 'China']
['Hai', 'Finance', 'International Business', 'September', 'Viet Nam']

In [0]:
import csv

with open('Workbook2.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    for line in csv_reader:
      print(line[0])

First Name
Joon
Haley
Vicky
Kevin
Yuxin
Zhijian
Colin
Charlie
Soonhyuk
Riya
Xinyi
Hai

Write

In [0]:
import csv

with open('Workbook2.csv','w') as csv_file:
    csv_writer = csv.writer(csv_file, delimiter=',')
    csv_writer.writerow(['First Name', 'Major1', 'Major2', 'Birthday Month', 'Nationality'])
    csv_writer.writerow(['Haley', 'Finance', 'Business Analytics', 'July', 'South Korea'])
    csv_writer.writerow(['Joon', 'Information Systems', '', 'February', 'South Korea'])
    csv_writer.writerow(['Vicky', 'Finance', '', 'September', 'China'])

위의 코드가 안 될 경우 이거 사용

In [0]:
import csv

with open('Workbook1.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    
    with open('Workbook1.csv','w') as csv_file:
      csv_writer = csv.writer(csv_file, delimiter=',')
      csv_writer.writerow(['Name','Department','Month'])
      csv_writer.writerow(['Haley Hwang','IT','July'])
      csv_writer.writerow(['Bjorn','IT','February'])
    
    for line in csv_reader:
      csv_writer.writerow(line)

['Name', 'Department', 'Month']
['Haley Hwang', 'IT', 'July']
['Bjorn', 'IT', 'February']

쓴코드 Print 보는 법 (새로 원래파일 업로드하고 해야함)

In [0]:
import csv

with open('Workbook1.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    
    with open('Workbook1.csv','w') as csv_file:
      csv_writer = csv.writer(csv_file, delimiter=',')
      csv_writer.writerow(['Name','Department','Month'])
      csv_writer.writerow(['Haley Hwang','IT','July'])
      csv_writer.writerow(['Bjorn','IT','February'])
    
    for line in csv_reader:
      print(line)

Append

In [0]:
import csv

with open('Workbook1.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    
    with open('Workbook1.csv','a') as csv_file:
      csv_writer = csv.writer(csv_file, delimiter=',')

      csv_writer.writerow(['Colin Ooi', 'IT', 'November'])
      csv_writer.writerow(['Lavender Xu','IT','April'])
    
    for line in csv_reader:
      print(line)

Hardest

In [0]:
import csv

with open('Workbook1.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        if line_count == 0:
            print(f'Column names are {", ".join(row)}')
            line_count += 1
        else:
            print(f'\t{row[0]} works in the {row[1]} department, and was born in {row[2]}.')
            line_count += 1
    print(f'Processed {line_count} lines.')

Column names are First Name, Year, Major, Birthday Month, Nationality
	Joon works in the Freshman department, and was born in Information Systems.
	Haley works in the Junior department, and was born in Finance.
	Vicky works in the Junior department, and was born in Finance.
	Kevin works in the Freshman department, and was born in Finance.
	Yuxin works in the Freshman department, and was born in Accounting & Economics consulting.
	Zhijian works in the Junior department, and was born in Accounting & Finance.
	Colin works in the Senior department, and was born in Information Systems & Supply Chain Management.
	Charlie works in the Junior department, and was born in Economic Consulting.
	Soonhyuk works in the Freshman department, and was born in Accounting.
	Riya works in the Freshman department, and was born in Finance and Math.
	Xinyi works in the Senior department, and was born in Management.
	Hai works in the Sophomore department, and was born in Finance & International Business.
Processed 13 lines.

In [0]:
s = "-"
seq = ("a", "b", "c") # This is sequence of strings.
print (s.join( seq ))

a-b-c

In [0]:
seq = ("a", "b", "c"); # This is sequence of strings.
print ("-".join( seq ))

a-b-c

**Reupload the original Workbook2 before jumping into the activity**

Activity 1. Find the person with the same nationality!

In [0]:
import csv

with open('Workbook2.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        if  row[3]=="South Korea":
            print(f'{row[0]} has the same nationality with you!')
            line_count += 1
    print(f'Total {line_count} people.')

Joon has the same nationality with you!
Haley has the same nationality with you!
Soonhyuk has the same nationality with you!
Total 3 people.

Activity 2. Happy Birthday Bulletin Board

In [0]:
import csv

with open('Workbook2.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    print("Happy Birthday Bullentin Board")
    for row in csv_reader:
        if  row[3]=="March":
            print(f'\tHappy Birthday, {row[0]}')
            line_count += 1
    print(f'Total {line_count} people is born in March.')

Happy Birthday Bullentin Board
	Happy Birthday, Charlie
	Happy Birthday, Riya
Total 2 people is born in March.

Activity 3. Major Database: Whom to Ask

In [0]:
import csv

with open('Workbook2.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    a=input("What major are you interested in?")
    for row in csv_reader:
        if  row[1]== a or row[2]== a:
            print(f'Ask {row[0]} about {a}')
            line_count += 1
    print(f'Total {line_count} people is majoring in {a}.')

What major are you interested in?Finance
Ask Haley about Finance
Ask Vicky about Finance
Ask Kevin about Finance
Ask Zhijian about Finance
Ask Riya about Finance
Ask Hai about Finance
Total 6 people is majoring in Finance.

In [0]:
import requests
#pip install requests

from bs4 import BeautifulSoup
# pip install beautifulsoup4
# Deny=> sudo pip install beautifulsoup4

req = requests.get('https://www.google.com/search?q=trump+shutdown+IPO&hl=en&source=lnms&tbm=nws&sa=X&ved=0ahUKEwiv18iwjOngAhUFEawKHSTsDM0Q_AUIDigB&biw=1280&bih=640')
html = req.text
soup = BeautifulSoup(html, 'html.parser')
my_titles = soup.select('h3')

for title in my_titles:
    print(title.text)
   # print(title.get('href'))

How Trump and the Brexiteers froze the world's IPO market
IPO Doldrums Reflect Shutdown's Woes Even as Resumption Averted
Lyft and Uber will let some drivers get stock at the IPO price
Gossamer Bio, After a Game of Government Shutdown Roulette ...
4 Biotech Companies Trying to Launch IPOs Before Another ...
Trump Claims He Was Totally “Misinterpreted” When He Said Kim ...
Pinterest Files Confidentially for IPO
Lyft IPO is a pure bet on the US ridesharing market
Harpoon and Gossamer sneak out IPOs before potential SEC ...
The US economy grew 2.9% in 2018