**Print**

In [0]:
print ('Hello, world')

Hello, world

Variable

In [0]:
a = "Hello, world"
print (a)
print (a.replace("Hello","Bye"))

Hello, world
Bye, world

List

In [0]:
thisisIT = ["Colin", "Lavender", "WeiWen", "Haley", "Adam", "Kimberley"]
thisisIT[1] = "Bjorn"
print(thisisIT)

['Colin', 'Bjorn', 'WeiWen', 'Haley', 'Adam', 'Kimberley']

Loop: for

In [0]:
thisisIT = ["Colin", "Bjorn", "Lavender", "WeiWen", "Haley", "Adam", "Kimberley"]
for x in thisisIT:
  print(x)

Colin
Bjorn
Lavender
WeiWen
Haley
Adam
Kimberley

If

In [0]:
thisisIT = ["Colin", "Bjorn", "Lavender", "WeiWen", "Haley", "Adam", "Kimberley"]
if "Adam" in thisislist:
  print("Yes, Adam is in IT Committee")

Yes, Adam is in IT Committee

print f

In [0]:
thisislist = ["Colin", "Bjorn", "Lavender", "WeiWen", "Haley", "Adam", "Kimberley"]
if "Adam" == thisislist[5]:
  print(f'{thisislist[5]} is in IT Comittee')

Adam is in IT Comittee

In [0]:
thisislist = ["Colin", "Bjorn", "Lavender", "WeiWen", "Haley", "Adam", "Kimberley"]
a = "Adam"
if a == thisislist[3]:
  print(f'{a} is in IT Comittee')

if~else

In [0]:
thisislist = ["Colin", "Bjorn", "Lavender", "WeiWen", "Haley", "Adam", "Kimberley"]
if "Jane" in thisislist:
  print("Yes, Adam is in IT Committee")
else:
    print("No")

No

len functon

In [0]:
thisislist = ["Colin", "Bjorn", "Lavender", "WeiWen", "Haley", "Adam", "Kimberley"]
print(len(thisislist))

7

CRUD

In [0]:
thisislist = ["Colin", "Bjorn", "Lavender", "WeiWen", "Haley", "Adam", "Kimberley"] # create
print(thisislist)

['Colin', 'Bjorn', 'Lavender', 'WeiWen', 'Haley', 'Adam', 'Kimberley']

In [0]:
thisislist = ["Colin", "Bjorn", "Lavender", "WeiWen", "Haley", "Adam", "Kimberley"]
thisislist.append("U") #update_adding
print(thisislist)

['Colin', 'Bjorn', 'Lavender', 'WeiWen', 'Haley', 'Adam', 'Kimberley', 'U']

In [0]:
thisislist = ["Colin", "Bjorn", "Lavender", "WeiWen", "Haley", "Adam", "Kimberley"]
thisislist.insert(1, "U") #add an item in the specific index
print(thisislist)

['Colin', 'U', 'Bjorn', 'Lavender', 'WeiWen', 'Haley', 'Adam', 'Kimberley']

In [0]:
thisislist = ["Colin","Bjorn", "Lavender", "Bjorn","WeiWen", "Haley", "Adam", "Kimberley"]
thisislist.remove("Colin")
print(thisislist)

['Bjorn', 'Lavender', 'Bjorn', 'WeiWen', 'Haley', 'Adam', 'Kimberley']

In [0]:
thisislist = ["Colin", "Bjorn", "Lavender", "WeiWen", "Haley", "Adam", "Kimberley"]
thisislist.pop() #delete an item in the specific index
print(thisislist)

['Colin', 'Bjorn', 'Lavender', 'WeiWen', 'Haley', 'Adam']

In [0]:
thisislist = ["Colin", "Bjorn", "Lavender", "WeiWen", "Haley", "Adam", "Kimberley"]
thisislist.pop(0) #delete an item in the specific index
print(thisislist)

['Bjorn', 'Lavender', 'WeiWen', 'Haley', 'Adam', 'Kimberley']

In [0]:
thisislist = ["Colin", "Bjorn", "Lavender", "WeiWen", "Haley", "Adam", "Kimberley"]
del thisislist[0] #delete an item in the specific index
print(thisislist)

['Bjorn', 'Lavender', 'WeiWen', 'Haley', 'Adam', 'Kimberley']

In [0]:
thisislist = ["Colin", "Bjorn", "Lavender", "WeiWen", "Haley", "Adam", "Kimberley"]
thisislist.clear() #delete whole
print(thisislist)

[]

Import, read, write csv file

In [0]:
import csv

with open('Workbook1.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    for line in csv_reader:
      print(line)

['First Name', 'Year', 'Major', 'Birthday Month', 'Nationality']
['Joon', 'Freshman', 'Information Systems', 'February', 'South Korea']
['Haley', 'Junior', 'Finance', 'July', 'South Korea']
['Vicky', 'Junior', 'Finance', 'September', 'China']
['Kevin', 'Freshman', 'Finance', 'September', 'Indonesia']
['Yuxin', 'Freshman', 'Accounting & Economics consulting', 'July', 'China']
['Zhijian', 'Junior', 'Accounting & Finance', 'August', 'China']
['Colin', 'Senior', 'Information Systems & Supply Chain Management', 'November', 'Malaysia']
['Charlie', 'Junior', 'Economic Consulting', 'March', 'China']
['Soonhyuk', 'Freshman', 'Accounting', 'April', 'South Korea']
['Riya', 'Freshman', 'Finance and Math', 'March', 'India']
['Xinyi', 'Senior', 'Management', 'October', 'China']
['Hai', 'Sophomore', 'Finance & International Business', 'September', 'Viet Nam']

In [0]:
import csv

with open('Workbook1.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    for line in csv_reader:
      print(line[2])

Major
Information Systems
Finance
Finance
Finance
Accounting & Economics consulting
Accounting & Finance
Information Systems & Supply Chain Management
Economic Consulting
Accounting
Finance and Math
Management
Finance & International Business

In [0]:
import csv

with open('Workbook1.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    for line in csv_reader:
      print(line[2])

Major
Information Systems
Finance
Finance
Finance
Accounting & Economics consulting
Accounting & Finance
Information Systems & Supply Chain Management
Economic Consulting
Accounting
Finance and Math
Management
Finance & International Business

In [0]:
import csv

with open('Workbook1.csv','w') as csv_file:
    csv_writer = csv.writer(csv_file, delimiter=',')
    csv_writer.writerow(['Name','Department','Month'])
    csv_writer.writerow(['Haley Hwang','IT','July'])
    csv_writer.writerow(['Bjorn','IT','February'])

In [0]:
import csv

with open('Workbook1.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    
    with open('Workbook1.csv','a') as csv_file:
      csv_writer = csv.writer(csv_file, delimiter=',')

      csv_writer.writerow(['Colin Ooi', 'IT', 'November'])
      csv_writer.writerow(['Lavender Xu','IT','April'])
    
    for line in csv_reader:
      print(line)

['Name', 'Department', 'Month']
['Haley Hwang', 'IT', 'July']
['Bjorn', 'IT', 'February']
['Colin Ooi', 'IT', 'November']
['Lavender Xu', 'IT', 'April']

Next Class

In [0]:
import csv

with open('Workbook1.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        if line_count == 0:
            print(f'Column names are {", ".join(row)}')
            line_count += 1
        else:
            print(f'\t{row[0]} works in the {row[1]} department, and was born in {row[2]}.')
            line_count += 1
    print(f'Processed {line_count} lines.')

Column names are Name, Department, Month
	Haley Hwang works in the IT department, and was born in July.
	Bjorn works in the IT department, and was born in February.
	Colin Ooi works in the IT department, and was born in November.
	Lavender Xu works in the IT department, and was born in April.
Processed 5 lines.